{% load partials %}
{% partialdef task-status-info %}
<div id="task-status-info" class="mt-2 text-sm"
       {% if status == "SUCCESS" %}hx-trigger="success" hx-get="none"
       {% elif status == "FAILURE" %}hx-trigger="failure" hx-get="none"
       {% else %}
            hx-get="{% url 'lessons:task_status' task_id %}"
            hx-indicator="#loading_bars"
            hx-trigger="load, every 3s"
            hx-target="this"
{#            hx-swap="outerHTML"#}
            hx-swap="innerHTML"
            hx-on::beforeRequest="document.getElementById('lesson-form-container').style.opacity = 0.4;"
            hx-on::afterRequest="document.getElementById('lesson-form-container').style.opacity = 1.0;"
       {% endif %}
       >
{% if task_id %}
    <span class="badge badge-warning">{{ status }} по Уроку с ID:{{ lesson_id }}</span>
{#    <span class="badge badge-info">Урок с id: </span>#}
{#    <span class="badge badge-info">Task_ID: {{ task_id }}</span>#}
    <span class="badge badge-warning">Шаг: {{ task_result }}</span>
{% endif %}
</div>
{% endpartialdef task-status-info %}

{% partial task-status-info %}

