{% load partials %}
{% partialdef task-status-info %}
    <div class="badge badge-warning">Статус: {{ status }}</div>
    <div class="badge badge-info">Урок с id: {{ lesson_id }}</div>
    <div class="badge badge-info">Task_ID: {{ task_id }}</div>
    <div id="task-status-info" class="mt-2"
       {% if status == "SUCCESS" %}hx-trigger="success" hx-get="none"
       {% elif status == "FAILURE" %}hx-trigger="failure" hx-get="none"
       {% else %}
            hx-get="{% url 'lessons:task_status' task_id %}"
            hx-indicator="#loading_bars"
            hx-trigger="load, every 5s"
            hx-target="this"
            hx-swap="innerHTML"
       {% endif %}
       >
    </div>
{% endpartialdef task-status-info %}
{% if task_id %}
    {% partial task-status-info %}
{% endif %}
{#                hx-on::success="task-status-info.close(); this.reset();"#}
{#                hx-on::create_run=#}
{#                hx-on::afterRequest="window.location.href='{% url 'lessons:task_status' task_id %}'"#}
{#        {% if task_id %}#}
{#        <div id="task-status" hx-get="{% url 'task_status' task_id %}" hx-trigger="load, every 5s[!this.classList.contains('task-complete')]" hx-target="this" hx-swap="innerHTML">#}
{#            <p>Статус задачи: Загрузка...</p>#}
{#        </div>#}
{#        <script>#}
{#            document.addEventListener('htmx:afterSwap', function(e) {#}
{#                if (e.detail.target.id === 'task-status' && e.detail.target.innerHTML.includes('Задача завершена')) {#}
{#                    e.detail.target.classList.add('task-complete');#}
{#                }#}
{#            });#}
{#        </script>#}
{#        {% endif %}#}
