{% load partials %}

<span id="task-status-info">
    {% partialdef task-status-info %}
        <div class="badge badge-warning">Статус: {{ status }}</div>
        <div class="badge badge-info">Урок с id: {{ lesson_id }}</div>
        {% if task_id %}
    {#            {% if not is_complete %}#}

            <td {% if status == "SUCCESS" %}hx-trigger="success" hx-get="none"
                {% elif status == "FAILURE" %}hx-trigger="failure" hx-get="none"
                {% else %}
                    hx-get="{% url 'lessons:task_status' task_id %}"
                {% endif %}
    {#                hx-target="backup-{{ backup.id }}"#}
                hx-trigger="load, every 2s"
{#                hx-indicator="#loading_dots"#}
                hx-on::success="task-status-info.close(); this.reset();"
                hx-on::afterRequest="window.location.href='{% url 'lessons:task_status' task_id %}'"
{#                hx-target="this"#}
{#                hx-swap="innerHTML"#}
                hx-swap="outerHTML"
            >
                {% include 'lessons/partials/indicator_balls.html' %} {{ task_result }}
            </td>
        {% else %}
            <!-- Задача завершена, опрос прекращён -->
        {% endif %}
    {% endpartialdef task-status-info %}
</span>
{#        {% if task_id %}#}
{#        <div id="task-status" hx-get="{% url 'task_status' task_id %}" hx-trigger="load, every 5s[!this.classList.contains('task-complete')]" hx-target="this" hx-swap="innerHTML">#}
{#            <p>Статус задачи: Загрузка...</p>#}
{#        </div>#}
{#        <script>#}
{#            document.addEventListener('htmx:afterSwap', function(e) {#}
{#                if (e.detail.target.id === 'task-status' && e.detail.target.innerHTML.includes('Задача завершена')) {#}
{#                    e.detail.target.classList.add('task-complete');#}
{#                }#}
{#            });#}
{#        </script>#}
{#        {% endif %}#}
