{% load static %}
{% load partials %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Уроки</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
            integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
            crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />  {# Подключаем DaisyUI #}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {# DaisyUI - составляющая TailwindCSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">  {# Подключаем свои стили #}
    <meta name="htmx-config" content='{"includeIndicatorStyles": true}'>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="w-full pt-1">
        <div class="form-section mt-1 shadow-md">
            <h2 class="text-xl text-centered font-bold text-gray-800">Создать новый урок
            &nbsp;&nbsp;{% if task_id %}{% include 'lessons/partials/task_status.html' %}{% endif %}
            </h2>
            <div id="lesson-form-container">
                {% include 'lessons/lesson_form.html' %}
            </div>
        </div>
        <h1 class="text-xl font-bold shadow-md pb-2">Список уроков</h1>
        <table class="table table-sm">
            <thead class="text-sm text-medium">
                <tr>
                    <th>id</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Предмет</th>
                    <th>Преподаватель</th>
                    <th>Группа</th>
                    <th>Дата и время</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody class="text-sm text-medium" id="lessons-tbody">
            {% partialdef lessons-tbody inline %}
                {% for lesson in lessons %}
                    {% include "lessons/partials/lesson_row.html" %}
                {% endfor %}
            {% endpartialdef lessons-tbody %}
            </tbody>
        </table>
    </div>
</body>
</html>