{% load static %}
{% load partials %}
<form class="overflow-y-clip mb-2"
{#      method="post"#}
      hx-post="{% url 'lessons:lesson_create' %}"
{#      hx-target="#lessons-tbody"#}
{#      hx-target="#task-status-info"#}
{#      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'#}
      hx-indicator="#loading_bars"
{#      hx-on::create_run="this.reset();"#}
{#      hx-on:create_run="this.reset();"#}
      hx-swap="innerHTML"
{#      hx-swap="afterbegin"#}
    >
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-column">
        {% for field in form %}
            {% if field.name in 'title, subject, scheduled_at, group, teacher' %}
                <div class="form-group">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <div>{{ field }}</div>
                    {% elif field.many_to_many %}
                        <select class="select" multiple name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for option_value, option_label in field.field.choices %}
                                <option value="{{ option_value }}" {% if option_value in field.value %}selected{% endif %}>
                                    {{ option_label }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm hover:bg-amber-600 mt-3 mx-auto text-sm">Создать урок
        </button>
    </div>
    <div class="form-column">
        {% for field in form %}
            {% if field.name in 'description, duration' %}
{#            {% if field.name in 'subject, teacher, group, students' %}#}
                <div class="form-group">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <div>{{ field }}</div>
                    {% elif field.many_to_many %}
                        <select class="select" multiple name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for option_value, option_label in field.field.choices %}
                                <option value="{{ option_value }}" {% if option_value in field.value %}selected{% endif %}>
                                    {{ option_label }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>

