{% load static %}
{% load partials %}
<form class="overflow-y-clip mb-2" id="create-lesson-form"
      method="post"
      hx-post="{% url 'lesson_create' %}"
      hx-target="#lessons-tbody"
{#      hx-target="#lesson-form-container"#}
      hx-indicator="#loading_bars"
      hx-swap="afterbegin"
{#      hx-swap="innerHTML"#}
    >
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-column">
        {% for field in form %}
            {% if field.name in 'title, description, scheduled_at, duration' %}
                <div class="form-group">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <div>{{ field }}</div>
                    {% elif field.many_to_many %}
                        <select class="select" multiple name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for option_value, option_label in field.field.choices %}
                                <option value="{{ option_value }}" {% if option_value in field.value %}selected{% endif %}>
                                    {{ option_label }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    <button type="submit" class="btn btn-primary btn-sm hover:bg-amber-600 mt-3 mx-auto text-sm">Создать урок</button>
    </div>
    <div class="form-column">
        {% for field in form %}
            {% if field.name in 'subject, teacher, group, students' %}
                <div class="form-group">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% endif %}
                    {% if field.field.widget.input_type == "checkbox" %}
                        <div>{{ field }}</div>
                    {% elif field.many_to_many %}
                        <select class="select" multiple name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for option_value, option_label in field.field.choices %}
                                <option value="{{ option_value }}" {% if option_value in field.value %}selected{% endif %}>
                                    {{ option_label }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>
{#{% if lesson %}#}
{#<tr class="lesson-row" id="lesson-{{ lesson.pk }}" hx-swap-oob="afterbegin:#lessons-tbody">#}
{#    <td>{{ lesson.id }}</td>#}
{#    <td>{{ lesson.title }}</td>#}
{#    <td>{{ lesson.description|truncatewords:5 }}</td>#}
{#    <td>{{ lesson.subject.name }}</td>#}
{#    <td>{{ lesson.teacher.name }}</td>#}
{#    <td>{{ lesson.group.name|default:"—" }}</td>#}
{#    <td>{{ lesson.scheduled_at|date:"d.m.Y H:i" }}</td>#}
{#    <td>#}
{#        <span class="status-{{ lesson.status }}">#}
{#            {{ lesson.get_status_display }}#}
{#        </span>#}
{#    </td>#}
{#    <td>#}
{#        <div class="actions">#}
{#            {% if lesson.status == 'created' %}#}
{#            <form hx-post="{% url 'lesson_complete' lesson.pk %}" hx-target="#lesson-{{ lesson.pk }}" hx-swap="outerHTML" style="margin: 0;">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn-complete">Завершить</button>#}
{#            </form>#}
{#            {% else %}#}
{#            <button class="btn-complete" disabled>Завершить</button>#}
{#            {% endif %}#}
{#        </div>#}
{#    </td>#}
{#</tr>#}
{#{% endif %}#}
<div id="task-status-container">
    {% if task_id %}
        {% include 'lessons/partials/task_status.html' %}
    {% endif %}
</div>
